html, body {
    height: 100%;
}



/* body {
  background-image: url(img/bg_main_dark.jpg);
  margin:0;
  padding:0;
} */

/* #main_navbar {
  margin-left: -10px;
  margin-right: -10px;

} */


/*
#wrapper {
  width: 969px; /*original 960*/
  min-height: 100%;             /*IE 6 hack*/
  height: auto !important; /*IE 6 hack*/
  height: 100%;
  margin: 0 auto -30px;  /*height of the footer*/

/* new added */
  border-left: 1px solid #989B9C;
  border-right: 1px solid #989B9C;
  padding: 0 10px 0 10px;
  background: white;
} */

#push {
    height: 30px; /*height of the footer*/
    clear:both;
}

#footer {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    height: 30px; /*height of the footer*/
    clear:both;
    background-image: url(img/menu_bg.jpg);
/*    background:#ffab62;  */
    color: rgb(51, 51, 51);
    /* text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6); */
    text-align: center;
}


#copyright {
    font-size: 90%;
    padding-top: 5px;
    height: 40px;
    line-height: 15px;
}

#header {
  /* width:966px;
  height: 90px; */
  /* margin: 0px auto; */
  margin-left: -9.5px;
  font-family: 'Roboto Slab', sans-serif;
  background-image: url(img/blue_color_fade.gif);
  background-repeat: repeat-x;
}

#header h1{
  padding-left: 45px;
  text-shadow: 0px 1px 0px white;
  float: left;
  font-size: 48px;
}

#header_right {
  height: 100%;
  padding-right: 50px;
  margin-top: 10px;
  float: right;
}

#header_right ul {
  list-style: none;
  /* margin-top:45px; */
}

#header_right li {
  padding-bottom:2px;
}

#phone {
  background: url(img/circle_phone.png) no-repeat;
  line-height: 25px;
  color: #252B34;
  font-size: 20px;
  padding-left: 36px;
}

#email {
  line-height: 30px;
  padding-left: 36px;
  background: url(img/circle_mail.png) no-repeat;
  font-size: 15px;
}

#email a {
  text-decoration: none;
}

#main_navbar {
  padding-left: 60px;
  height: 50px;
  text-align: center;
}

#main_navbar #home {
  font-size: 23px;
}

#main_navbar ul {
  /* padding-left: 20px; */
  width: 100%;
}


#main_navbar li {
  font-size: 21px;
  width: 188px;
  /* padding-top: 2px; */
}




#menu {
    /* width: 960px; */
    height: 45px;
    margin: 0 auto;
    line-height: 45px;
    background-image: url(img/menu_bg.jpg);
}

#menu ul {
    list-style: none;
    margin:0;
    padding:0;
}

#menu li{
    float: left;
    margin: 0;
    padding: 0;

}

#menu li a:link, a:visited {
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    text-shadow: 0 1px 1px #000000;
    display: inline-block;
    padding: 0 30px;
    text-decoration:none;
    font-size: 16px;
    /*line-height: 45px;  I dont' understand why it affects email address display in chrome*/
}

#menu li a:hover, a:active, a.current{
    background-image: url(img/menu_bg1.jpg);
}

#menu li a.current:hover {
    cursor:default;
}

.grid_12 {
  padding-left: 3px;
  display:inline;
  float: left;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  width:960px;
  clear:both;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


div.main_page {
    margin:auto;
    padding:20px;
    line-height: 1.5em;
    background-color:white;
    font-family: Georgia,Serif;
    color: #252B34;
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.main_content{
  margin-top: 25px;
}

.item {
  display:inline;
  float: left;
  position: relative;
  width: 155px;
  height: 108px;
  margin-top: 12px;
  margin-left: 15px;
  margin-right: 16px;
  margin-bottom: 12px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  padding: 10px 0px 1px 4px;
  border: 1px solid rgb(204, 204, 204);
}

.item img{
    max-width: 150px;
    max-height: 160px;
}

.al_item {
  display:inline;
  float: left;
  position: relative;
  width: 155px;
  height: 200px;
  margin-top: 12px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 12px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  padding: 10px 0px 1px 4px;
  border: 1px solid rgb(204, 204, 204);
}

.al_item img{
    max-width: 150px;
    max-height: 200px;
}

  #lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(img/overlay.png) repeat;
    text-align:center;
  }
  #lightbox p {
    text-align:right;
    color:#fff;
    margin-right:20px;
    font-size:12px;
  }
  #lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
  }

#big {
  font-size: 24px;
  font-weight: bold;
}

.fadein {
  position:relative;
  width:320px;
  height:320px;
    float: right;
    margin: 10px 10px;
    position: relative;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
  }

.fadein img {
    position:absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width:320px;
    height:320px;
  }
#navbarNavAltMarkup {
  z-index: 100;
  margin-top: -1.6px;
}

.carousel {
  height: 250px;
}
.carousel-inner {
  height: 100%;
}
.carousel-control-next {
  z-index:101
}

#lang_span {
  color: white;
}
#lang_span:hover {
  color: #ccded8;
}

#home_span:hover {
  color: #ccded8;
}
.p {
  font-size: 18px;
  line-height: 27px;
}
